<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PersonMapper">


    <resultMap id="baseResultMap" type="person">
        <id column="id" property="pid" javaType="integer"/>
        <result column="name" javaType="java.lang.String" property="pname"/>
        <result column="age" property="age" javaType="java.lang.Integer"/>
        <result column="birthday" property="birthday" javaType="date"/>
        <result column="address" property="address" javaType="string"/>

    </resultMap>

    <select id="selectAllPerson" resultMap="baseResultMap">
        SELECT * FROM person
    </select>

    <select id="selectById" resultMap="baseResultMap" parameterType="map">
        SELECT * FROM person WHERE  id=#{id}
    </select>

    <select id="selectByAddr" resultMap="baseResultMap" parameterType="map">

        <!-- 存在 模糊查询时，需要使用${key} ,并且进行转意 -->
        <![CDATA[

                SELECT * FROM person WHERE  address LIKE ${id}

        ]]>
    </select>


    <insert id="addPerson" parameterType="person">

        <selectKey order="AFTER" keyProperty="pid" resultType="integer">
            SELECT LAST_insert_id()
        </selectKey>
        INSERT INTO mybatis.person(id,name, age, birthday, address) VALUES
        (#{pid},#{pname},#{age},#{birthday},#{address})
    </insert>
    
    
    <select id="dynamicSelect" parameterType="map" resultMap="baseResultMap">
        SELECT * from person
        <where>
            <if test="pid !=null">
                id=#{pid}
            </if>
            <if test="age !=null">
                <![CDATA[
            and    age<#{age}
                ]]>
            </if>

        </where>
    </select>



    <select id="dynamicSelect1" parameterType="person" resultMap="baseResultMap">
        SELECT * from person
        <where>
            <if test="pid !=0">
                id=#{pid}
            </if>
            <if test="age !=null">
                <![CDATA[
            and    age<#{age}
                ]]>
            </if>

        </where>
    </select>

    <insert id="dynamicInsert" parameterType="map">
        INSERT INTO mybatis.person(id,name, age, birthday, address) VALUES
        <foreach collection="persons" separator="," item="p">
            (#{p.pid},#{p.pname},#{p.age},#{p.birthday},#{p.address})
        </foreach>

    </insert>


    <delete id="dynamicDelete" parameterType="map">
        DELETE FROM person WHERE id IN
        <foreach collection="ids" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>

    </delete>

</mapper>